.first-container{
    min-height: 150vh;
}

.third-container{
    min-height: 100vh;
}
:root {
    --main-bg-color: #E7473C;
    --elegant-black-color: #010101;
    --light-blue-color: rgb(128, 208, 255);
    --blue-color: rgb(0, 162, 255);
    --main-color: rgb(255, 255, 255);
    --contrast-color: #ffffff;
    --font-size-sm: 16px;
}


/* ===== Scrollbar CSS ===== 

  * {
    scrollbar-width: auto;
    scrollbar-color: #ff0000 #ffffff;
  }


  *::-webkit-scrollbar {
    width: 10px;
    
  }

  *::-webkit-scrollbar-track {
    background: #1a2026;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff43;
    border-radius: 5px;
    border: 0px solid #ffffff;
    transition: background-color 0.3s ease !important;
    cursor: url(assets/images/cursor-3.png), auto;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
    cursor: url(assets/images/cursor-3.png), auto;
  }
*/
@font-face {
    font-family: 'San-Francisco-Pro-Regular'; /* Nombre que usarás para referenciar la fuente */
    src: url('/assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'San-Francisco-Thin'; /* Nombre que usarás para referenciar la fuente */
    src: url('/assets/fonts/SF-Pro-Display-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'San-Francisco-Bold'; /* Nombre que usarás para referenciar la fuente */
    src: url('/assets/fonts/SF-Pro-Display-Bold.otf') format('opentype');
}


.sfpro-regular{
    font-family: San-Francisco-Pro-Regular !important;
}

.sfpro-thin{
    font-family: San-Francisco-Thin !important;
}

.sfpro-bold{
    font-family: San-Francisco-Bold !important;
}

.first-container{
    cursor: url(assets/images/cursor-3.png), auto;
}


.front-100{
    position:relative;
    z-index:100;
}



.font-gradient-1{
    background: linear-gradient(125deg, var(--blue-color), var(--blue-color));
    background-clip: text;
    color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.glow{
    transition: text-shadow 0.5s ease;
}

.glow:hover {
    text-shadow: 0 0 15px rgb(255, 255, 255);
  }

.glow-border{
  transition: box-shadow 0.5s ease;
}

.glow-border:hover {
    box-shadow: 0 0 15px rgb(255, 255, 255);
  }

@keyframes animate{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }



.blur-w{
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-top: 1px solid rgba( 255, 255, 255, 0.18 );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

.blur{
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.border-w{
  border-top: 1px solid rgba( 255, 255, 255, 0.18 );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

.floating { 
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(7px, 7px); }
  100%   { transform: translate(0, 0px); }   
}

.border-hover{
  border: 2px solid rgba(255, 255, 255, 0.219) !important;
}

.hand-writting{
  width: 400px !important;
}

.main-video-container{
  height: 100vh;
  overflow: hidden;
}

.main-video{
  width: 100%;
  object-fit: cover;
}